<div class="box-edit" *ngIf="produto">

    <h2>{{produto.name | uppercase}} Details</h2>
    <div class="txt-id"><span>id: </span>{{produto.id}}</div>
    <div class="box-flex">
      <label for="produto-name">Produto name: </label>
      <input id="produto-name" [(ngModel)]="produto.name" placeholder="name">
    </div>
    <div class="box-flex">
        <label for="produto-preco">Produto preco: </label>
        <input id="produto-preco" [(ngModel)]="produto.preco" placeholder="preco">
    </div>
    <div class="box-flex">
        <label for="produto-codigo">Produto codigo: </label>
        <input id="produto-codigo" [(ngModel)]="produto.codigo" placeholder="codigo">
    </div>
    <div class="box-flex">
        <label for="produto-cor">Produto cor: </label>
        <input id="produto-cor" [(ngModel)]="produto.cor" placeholder="cor">
    </div>
  
    <button type="button" (click)="save()">Salvar</button>
  </div>
