
<table class="table-class">
    <tr class="head-table">
        <td>Id</td>
        <td>Nome</td>
        <td>Preço</td>
        <td>Codigo</td>
        <td>Cor</td>
        <td>Editar</td>
    </tr>
    <tr class="body-table" *ngFor="let produto of produtos">
        <td>{{produto.id}}</td>
        <td>{{produto.name}}</td>
        <td>{{produto.preco}}</td>
        <td>{{produto.codigo}}</td>
        <td>{{produto.cor}}</td>
        <td><button class="button-edit" [class.button-clicked]="produto ===  selectedProduto" type="button" (click)="onSelect(produto)">Editar</button></td>
    </tr>
</table>


<app-produto-detail [produto]="selectedProduto"></app-produto-detail>
